* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: aliceblue;

}

html,
body {
    width: 100%;
    height: 100%;
}

.nav {
    height: 145px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    position: fixed;
    z-index: 99;
}

.nav img {
    height: 100px;
}

.nav h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav h4:hover{
    color: #cc7d33;
    position: relative;
    cursor: pointer;
    transform: scale(1.3);
    transition: .1s ease-in-out;
}

#food:hover {
    

}

/* #cursor {
    height: 20px;
    width: 20px;
    background-color: #cc7d33;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
} */

#cursorblur {
    height: 400px;
    width: 400px;
    background-color:#cc7d335a;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(40px);

}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

#indeximage {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}
*::selection {
    background-color: #fff;
    color: #cc7d33;
  }
  
  body::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #cc7d33;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #fff;
  
    border-radius: 50px;
  }
#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 #arrow{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color:transparent;
    border: 2px solid #cc7d33;
    border-radius: 50%;
    left: -1%;
    bottom: 2%;
    transition: all ease 0.5s;
}
#page1 #arrow:hover{
    scale: 0.5;
    background-color: #cc7d33;

}


#page1 #arrow i{
    font-size: 50px;
    font-weight: 100
}


#page1 h1 {
    font-size: 120px;
    font-weight: 900;
    position: relative;

}

#page1 h1::before {
    content: "EAT. DRINK. SLEEP.";
    position: absolute;
    color: black;
    top: -3px;
    left: -5px;
    -webkit-text-stroke: 1px #cc7d33;
    z-index: -1;

}

#page1 h2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 1%;
    margin-top: 1%;
}

#page1 p {
    font-size: 25px;
    font-weight: 400;
    width: 50%;
}

#page2 {
    min-height: 100vh;
    width: 100%;
}

#scroller {
    /* background-color: red; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;
    margin-bottom: 10%;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scrollerin {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#scroller h4 {
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 20px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    transition: all linear 0.3s;
}

#scroller h4:hover {
    color: yellowgreen;
    -webkit-text-stroke: 2px hsl(84, 100%, 59%);

}

#about-us {
    height: 40vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    z-index: 10;
    margin-bottom: 10%;

}

#about-us img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}

#about-us-in {
    width: 40%;
    text-align: center;
}

#about-us-in h3 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 40px;
}

#about-us-in p {
    font-size: 20px;
    line-height: 26px;
}

#card-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card {
    height: 90%;
    width: 25%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    align-items: center;
    overflow: hidden;
    transition: all ease 0.6s;

}

#card1 {
    background-image: url(https://images.unsplash.com/photo-1613764816537-a43baeb559c1?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#card2 {
    background-image: url(https://images.unsplash.com/photo-1604152135912-04a022e23696?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#card3 {
    background-image: url(https://images.unsplash.com/photo-1517244683847-7456b63c5969?auto=format&fit=crop&q=80&w=1888&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.overlay{
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-top: 160px;
    background-color: greenyellow;
    opacity: 0;
    transition: all ease 0.6s;
    
}
.overlay h4{
    font-size: 25px;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 10px;
}

.overlay p{
    font-size: 18px;
    color: black;
}

.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0, 20deg);
}
#greendiv{
    height: 30vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left top, #cef105 ,#40ff00); 
}
#greendiv h4{
    width: 45%;
    line-height: 40px;
    font-size: 27px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
#greendiv img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}
#page3{
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    background-color: #000;
    justify-content: center;
}
#page3>p{
    font-size: 35px;
    font-weight: 800;
    width: 50%;
    text-align: center;
    line-height: 40px;
    
}

#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 15%;
    top: 20%;
}
#page3 #colon2{
    right: 15%;
    bottom: 20%;
}
#page4 {
    /* background-color: red; */
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}
.elem{
    height: 60%;
    width: 25%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    
}
.elem h2{
    height: 100%;
    width: 100%;
    transition: all ease 0.5s;
    background-color:yellowgreen;
    display: flex;
    color: black;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    position: absolute;
    z-index: 10;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

.elem:hover h2{
    color: white;
    background-color: transparent;
}
.elem:hover img{
    scale: 1;
}
#page4 h1{
    position: absolute;
    font-size: 72px;
    top: 3%;
    font-weight: 800;
    color: #000;
    -webkit-text-stroke: 2px #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3f,#ace022);
}
#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .cloths-head{
    height: 200px;
    width: 100%;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
  }
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}